/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.htaccess
.htaccess.bak
.htaccess.bak-1
error-log
Envoy.blade.php
error_log
dev.log
test.php
.DS_Store